/code-in-the-air-file-to-paste-only.txt
/conciencia.py
/conversar.py
/ia_autonoma-old.py
/ia_autonomae.py
/index-base.html
/interacciones.py
/interacciones_simple.py
/onlyconnet.py
/red_neuronal.py
/red_neuronal_conocimiento.pkl
/templates
/Tests
/venv
/__pycache__